@model OtherServices2.Models.GrupoServicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GrupoServicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGrupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGrupo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
