@model OtherServices2.Models.Servicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGrupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdService" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
