@using OtherServices2.Models.ViewModel;
@model List<MenuViewModel>;

@{
    string menucollapse = "menucollapse";
    int correlativo = 1;
}

@foreach (var menu in Model)
{
    if (menu.SubMenus.Count == 0)
    {
        <li class="nav-item first-list">
@*                        <a class="nav-link" href="@($"/BillOtherServices/{menu.Controlador}/{menu.Accion}")">
*@    
            <a class="nav-link" href="@($"/{menu.Controlador}/{menu.Accion}")">
                <i class="@menu.Icono"></i>
                <span>@menu.Descripcion</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item first-list">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="@($"#{menucollapse}{correlativo}")">
                <i class="@menu.Icono"></i>
                <span>@menu.Descripcion</span>
            </a>
            <div id="@($"{menucollapse}{correlativo}")" class="collapse" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @foreach (var submenu in menu.SubMenus)
                    {
@*                                                <a class="collapse-item" href="@($"/BillOtherServices/{submenu.Controlador}/{submenu.Accion}")">
*@            
                        <a class="collapse-item" href="@($"/{submenu.Controlador}/{submenu.Accion}")">
                            @submenu.Descripcion
                        </a>
                    }
                </div>
            </div>
        </li>
        correlativo = correlativo + 1;
    }
}
