@model IEnumerable<OtherServices2.Models2.Vehiculo>

@{

}

@if (ViewData["MensajeError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["MensajeError"]
    </div>
}

<div class="d-flex justify-content-between">
    <h1 class="pt-5 ps-2 mt-0 mb-5 border-start border-1">Vehículos</h1>
    <p>
        <a class="btn btn-primario mt-5" asp-action="Create">+ Agregar</a>
    </p>
</div>
<table class="cell-border table table-striped table-hover" id="example">
    <thead class="table-dark">
        <tr>
            <th>
                Doc. Propietario
            </th>
            <th>
                Primer Nombre
            </th>
            <th>
                Segundo Nombre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Tipo Vehiculo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentTerceroNavigation.DocIdentTercero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentTerceroNavigation.PrimerNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentTerceroNavigation.SegundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentTerceroNavigation.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentTerceroNavigation.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    <a title="Eliminar" asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Vehiculoes" asp-route-id="@item.IdVehiculo"><img src="~/images/ico-accion-eliminar.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#example').DataTable({
            'pageLength': 4,
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
            }
        });
    });
</script>
