@model IEnumerable<OtherServices2.Models.Certification>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h1 class="pt-5 ps-2 mt-0 mb-5 border-start border-1">Certificaciones</h1>
    <p>
        <a class="btn btn-primario mt-5" asp-action="Create">+ Agregar</a>
    </p>
</div>
<table class="cell-border table table-striped table-hover" id="example">
    <thead class="table-dark">
        <tr>
            <th>
                Contrato No
            </th>
            <th>
                NIT
            </th>
            <th>
                Tipo de Contrato
            </th>
            <th>
                Valor Total del Contrato
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocIdentContrator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueFinalContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateContract)
                </td>
                <td>
                    <a title="Eliminar" asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Certifications1" asp-route-id="@item.IdCertification"><img src="~/images/ico-accion-eliminar.png" /></a> |
                    <a title="Ver detalle" asp-action="Details" asp-route-id="@item.IdCertification"><img src="~/images/ico-accion-ver.png" /></a> |
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#example').DataTable({
            'pageLength': 5,
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
            }
        });
    });
</script>
